.navbar {
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 50;
  background-color: #FCFBF7;
  /* border-bottom: 1.5px solid #46464a80; */
  top: 0;
  left: 0;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 36px;
}

.menu-item {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #46464A;
}

.logo-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: #46464A;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.logo {
  height: 40px;
  width: 40px;
}